
<h1>Lekarze Rodzinni</h1>
<br/>
<div class="imgprof" >
<img src="assets/lekarze.jpg" height="300" width="500" >
</div>
<br/>
<p>
        W Przychodni Szczecińskiej opiekę nad dziećmi i dorosłymi sprawuje lek.
  Andrze Pratykowski, specjalista medycyny rodzinnej oraz lek. Aleksandra Wymkowska
  w trakcie specjalizacji z medycyny rodzinnej, lek. Kamila Kowalska w trakcie
  specjalizacji z medycyny rodzinnej.
</p>
<br/>
<h3>lek. Andrze Pratykowski</h3>
<div class="imgprof" >
<img src="assets/lekarzz.jpg">
</div>
<br/>
<br/>
<div class="srdbtt">
  <a href="allharm"> Umów na Wizytę</a>
</div>
<br/>
<p>
       Ukończyłem wydział Lekarski Pomorskiego Uniwersytetu Medycznego
  w 2010 roku a staż podyplomowy w szczecińskim szpitalu MSWiA - w 2011 roku.
  Rozpocząłem specjalizację z medycyny rodzinnej w ramach rezydentury
  jako kandydat z najwyższym wynikiem Lekarskiego Egzaminu Państwowego.
  Ukończyłem szkolenia dodatkowe w zakresie medycyny rodzinnej w Wielkiej Brytanii,
  Holandii i Hiszpanii oraz jestem laureatem specjalnego
  bursarium na udział w Światowym Zjeździe Lekarzy Rodzinnych w
  Lizbonie w 2014 roku. <a href="profil1"> Czytaj więcej na profilu lekarza</a>
</p>
<br/>
<h3> Zakres konsultacji </h3>
<ul>
  <li>
    Zakres konsultacji
  </li>
  <li>
    Choroby dorosłych
  </li>
  <li>
    Choroby dzieci
    Szczepienia ochronne
  </li>
  <li>
    Badania bilansowe dzieci
  </li>
  <li>
    Badania patronażowe noworodków
  </li>
  <li>
    Antykoncepcja
  </li>
  <li>
    Kontynuacje farmakoterapii
  </li>
  <li>
    Interpretacja badań diagnostycznych
  </li>
  <li>
    Koordynacja politerapii
  </li>
  <li>
    Zwolnienia lekarskie ZUS-ZLA
  </li>
  <li>
    Zaświadczenia lekarskie
  </li>
</ul>
<br/>

<h3>lek.  Aleksandra Wymkowska</h3>
<div class="imgprof" >
<img src="assets/lekarka2.jpg" height="400" width="300">
</div>
<br/>
<br/>
<div class="srdbtt">
  <a href="allharm"> Umów na Wizytę</a>
</div>
<br/>
<p>
        Ukończyłam Wydział Lekarski Pomorskiego Uniwersytetu Medycznego w 2011 roku,
  staż podyplomowy odbyłam w Szpitalu Specjalistycznym im. profesora Alfreda Sokołowskiego w Szczecinie.
  Podczas studiów angażowałam się w działalność IFMSA oraz Studenckiego Towarzystwa
  Naukowego, przez rok studiowałam we Włoszech korzystając
  z programu wymiany studenckiej Erasmus, odbyłam liczne ponadobowiązkowe
  praktyki za granicą. <a href="profil2"> Czytaj więcej na profilu lekarza</a>
</p>

<br/>
<h3>lek.  Kamila Kowalska</h3>
<div class="imgprof" >
<img src="assets/lekarka.jpg" height="400" width="300" >
</div>
<br/>
<div class="srdbtt">
  <a href="allharm"> Umów na Wizytę</a>
</div>
<br/>
<p>
       Ukończyłam Wydział Lekarski Pomorskiego Uniwersytetu Medycznego w Szczecinie
  w 2014 roku a staż podyplomowy odbyłam w Szpitalu Specjalistycznym
  im. profesora Alfreda Sokołowskiego w Szczecinie.
  Podczas studiów angażowałam się w działalność
  Międzynarodowego Stowarzyszenia Studentów Medycyny IFMSA-Poland,
  odbyłam praktyki zagraniczne poszerzając swoją wiedzę i
  zdobywając doświadczenie. <a href="profil3"> Czytaj więcej na profilu lekarza</a>
</p>
<br/>

<br/>

