<br/>
<h3>lek.  Kamila Kowalska</h3>
<br/>
<div class="imgprof" >
  <img src="assets/lekarka.jpg" height="400" width="300" >
</div>
<br/>
<p>
  Ukończyłam Wydział Lekarski Pomorskiego Uniwersytetu Medycznego w Szczecinie
  w 2014 roku a staż podyplomowy odbyłam w Szpitalu Specjalistycznym
  im. profesora Alfreda Sokołowskiego w Szczecinie.
  Podczas studiów angażowałam się w działalność
  Międzynarodowego Stowarzyszenia Studentów Medycyny IFMSA-Poland,
  odbyłam praktyki zagraniczne poszerzając swoją wiedzę i
  zdobywając doświadczenie. Byłam również członkiem Studenckiego
  Towarzystwa Naukowego oraz współautorem pracy naukowej uhonorowanej
  pierwszym miejscem w Ogólnopolskiej Konferencji Naukowej
  Studentów Uczelni Medycznych.  W 2015 roku rozpoczęłam
  pracę jako lekarz w Klinice Chirurgii Ogólnej i Chirurgii Ręki w
  SPSK1 w Szczecinie, gdzie spędziłam półtora roku.
  W 2017 roku rozpoczęłam specjalizację z Medycyny Rodzinnej,
  od tamtego czasu pracuje czynnie jako lekarz Podstawowej Opieki Zdrowotnej.
  Stale podnoszę swoje kwalifikacje uczestnicząc w licznych kursach i konferencjach.
</p>
<br/>
<div id="lista">
  <ul >
    <li> <a href="allprofiles"> Powrót </a></li>
    <li> <a href="allharm"> Umów na Wizytę</a></li>
  </ul>
</div>
