<br/>
<h3>lek. Andrze Pratykowski</h3>
<br/>
<div class="imgprof" >
  <img src="assets/lekarzz.jpg">
</div>
<br/>
<p>
  Ukończyłem wydział Lekarski Pomorskiego Uniwersytetu Medycznego
  w 2010 roku a staż podyplomowy w szczecińskim szpitalu MSWiA - w 2011 roku.
  Rozpocząłem specjalizację z medycyny rodzinnej w ramach rezydentury
  jako kandydat z najwyższym wynikiem Lekarskiego Egzaminu Państwowego.
  Ukończyłem szkolenia dodatkowe w zakresie medycyny rodzinnej w Wielkiej Brytanii,
  Holandii i Hiszpanii oraz jestem laureatem specjalnego
  bursarium na udział w Światowym Zjeździe Lekarzy Rodzinnych w
  Lizbonie w 2014 roku. Od 2012 roku działam w grupie Młodych Lekarzy
  Rodzinnych Kolegium Lekarzy Rodzinnych w Polsce oraz należę
  do zachodniopomorskiego Zarządu Wojewódzkiego Kolegium Lekarzy
  Rodzinnych W Polsce. W 2016 roku ukończyłem szkolenie specjalizacyjne
  zdobywając tytuł specjalisty medycyny rodzinnej oraz
  dodatkowo ukończyłem szkolenie Leonardo EURACT uzyskując
  dyplom nauczyciela medycyny rodzinnej. Jestem doktorantem III roku PUM,
  prowadzę zajęcia ze studentami III i IV roku Wydziału Lekarskiego w
  zakresie diagnostyki laboratoryjnej. Pracowałem w ponad dwudziestu
  różnych praktykach medycyny rodzinnej w całej Polsce wykonując zastępstwa
  za lekarzy rodzinnych.
</p>
<br/>
<h3> Zakres konsultacji </h3>
<ul>
  <li>
    Zakres konsultacji
  </li>
  <li>
    Choroby dorosłych
  </li>
  <li>
    Choroby dzieci
    Szczepienia ochronne
  </li>
  <li>
    Badania bilansowe dzieci
  </li>
  <li>
    Badania patronażowe noworodków
  </li>
  <li>
    Antykoncepcja
  </li>
  <li>
    Kontynuacje farmakoterapii
  </li>
  <li>
    Interpretacja badań diagnostycznych
  </li>
  <li>
    Koordynacja politerapii
  </li>
  <li>
    Zwolnienia lekarskie ZUS-ZLA
  </li>
  <li>
    Zaświadczenia lekarskie
  </li>
</ul>
<br/>
<div id="lista">
<ul >
<li> <a href="allprofiles"> Powrót </a></li>
  <li> <a href="allharm"> Umów na Wizytę</a> </li>
</ul>
</div>

