
  <h1> Przychodnia Nadzieja</h1>
  <br/>
  <br/>
  <p>
    Przychodnia lekarska Nadzieja – kompleksowa pomoc medyczna
  Przychodnia lekarska w Krakowie jest nowoczesnym Centrum Medycznym usytuowanym na osiedlu Gumieńce.
  Do dyspozycji Pacjentów pozostaje wysoko wykwalifikowany personel lekarski i pielęgniarski.
  </p>
  <h3><a href="allprofiles">Zapraszamy do obejrzenia profili naszych lekarzy!</a></h3>
<br/>
  <div id="imgkon">
    <img src="assets/przych.png" width="600" height="600" >
  </div>
  <br/>
