<br/>
<h3>lek.  Aleksandra Wymkowska</h3>
<br/>
<div class="imgprof" >
  <img src="assets/lekarka2.jpg" width="300" height="400">
</div>
<br/>
<p>
  Ukończyłam Wydział Lekarski Pomorskiego Uniwersytetu Medycznego w 2011 roku,
  staż podyplomowy odbyłam w Szpitalu Specjalistycznym im. profesora Alfreda Sokołowskiego w Szczecinie.
  Podczas studiów angażowałam się w działalność IFMSA oraz Studenckiego Towarzystwa
  Naukowego, przez rok studiowałam we Włoszech korzystając
  z programu wymiany studenckiej Erasmus, odbyłam liczne ponadobowiązkowe
  praktyki za granicą. Specjalizację z Medycyny Rodzinnej rozpoczęłam w 2012 roku,
  od tego czasu pracuję jako lekarz rodzinny. Poza pracą w
  POZ świadczę wizyty domowe w Szczecinie, a w sezonie letnim na wybrzeżu.
  Stale podnoszę swoje kwalifikacje uczestnicząc w konferencjach i szkoleniach,
  posiadam szereg certyfikatów (m.in ALS oraz EPLS).
  W 2017 roku rozpoczęłam studia MBA z Zarządzania w Ochronie Zdrowia na
  Poznańskim Uniwersytecie Medycznym.
</p>
<br/>
<div id="lista">
  <ul >
    <li> <a href="allprofiles"> Powrót </a></li>
    <li><a href="allharm"> Umów na Wizytę</a> </li>
  </ul>
</div>
